
body{
    color:  #40514E;;
    text-align: center; 
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    font-family: 'Merriweather',serif;
    
}
h1{
    
    font-family: 'Sacramento',cursive;
    font-size: 90px;
    margin-bottom: 0;
    padding-top: 3.75rem;
    color:#11999E;
    line-height: 2;
}
h2{
    
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
    
}
h3{
    font-family: 'Merriweather', serif;
    color:  #11999E;
}

 p{
    line-height: 2;
 }

.myself
{
    font-family:'Merriweather',serif;
    color: #40514E;
    font-weight: bold;
}
a{
    color:  #11999E;
    margin: 10px 20px 10px 20px;
    text-decoration: none;
}
hr{
    border-style : none ;   
    border-top-style : dotted; 
    border-color :  grey;   
    border-width : 5px;
    width: 2%;
    margin: 100px auto 100px auto;
}


.top-container
{  margin-top: 0px;  
    padding-top: 90px;
    background-color: #EAF6F6;
    margin-right: 0px;
    margin-left: 0;
    position: relative;
    margin-bottom: 100px;
    
}
.middle-container{

}
.bottom-container{
   background-color: #66BFBF;
   padding-top: 50px;
  margin-left: 0;
padding-right: 0;
padding-bottom: 20px;

}
.top-cloud
{
    position: absolute;
    right: 300px;
    top: 10opx;
}
.bottom-cloud
{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.web-designing{
    border-radius: 100%;
    width: 25%;
    float: left;
    margin-right: 30px;
    font-family: 'Merriweather', serif;
    color: #40514E;
    font-weight: bold;
}
.programming{
    border-radius: 100%;
    width:25%;
    float: right;
    margin-left: 30px;
    font-family: 'Merriweather', serif;
    color: #40514E;
    font-weight: bold;

}
.button
{       margin-bottom: 70px;
        background: #3498db;
        background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Courier New;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
}      
      .button:hover {
        background: blue;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
      }

span{
    text-decoration: underline;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.end{
   background-color: #EAF6F6;
   padding-top: 100px;

}
.contact-me{
    margin-bottom: 50px;


}
.footer
{ margin-top: 20px;
 color: #11999E;
}
.gaganphoto{
    width: 15%;
}
.programming-discription{
    width: 400px;
    margin-right: 0;
    position: relative;
    left: 270px;

}
.g{
    color: whitesmoke;
}
a:hover{
    color: white;
}
